{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}
{% block content %}
<div class="container">
    <h1>Contact Us</h1>

    <ul class="contact-page-nav">
        <li>
            <a href="#email-and-postal-address">
                <img src="../static/img/icon_email.png" width="50px">

                Email & Postal Address
            </a>
        </li>
        <li>
            <a href="#location">
                <img src="../static/img/icon_home.png" width="50px">

                Location
            </a>
        </li>
        <li>
            <a href="#outreach">
                <img src="../static/img/icon_handshake.png" width="50px">

                Outreach
            </a>
        </li>
    </ul>

    <div id="email-and-postal-address">
        <h2>Email & Postal Address</h2>

        <blockquote>
            <h3>General Inquiries</h3>
            <a href="mailto:solarcar@prisum.org">solarcar@prisum.org</a>
        </blockquote>
        <blockquote>
            <h3>Outreach Email</h3>
            <a href="mailto:outreach@prisum.org">outreach@prisum.org</a>
        </blockquote>
        <blockquote>
            <h3>Mailing Address</h3>
            Attn: Team PrISUm<br>
            Iowa State University<br>
            2620 Howe Hall<br>
            Ames, IA 50011
        </blockquote>
        <blockquote>
            <h3>Package Shipping Address</h3>
            Attn: Team PrISUm<br>
            Iowa State University<br>
            1043 Black Engineering<br>
            Ames, IA 50011
        </blockquote>
    </div>

    <div id="location">
        <h2>Location</h2>

        <p>Team PrISUm's facilities located on the western part of campus in "Old" Sweeney Hall. Feel free to stop by
            our office anytime! There are always team members around who would be glad to show you the cars, answer any
            questions, and help get you involved with the project.</p>

        <a href="https://www.google.com/maps/@42.0273704,-93.6500621,19z" target="_blank">
            <img src="../static/img/map.png"
                 alt="The offices are in the southeastern part of Sweeney Hall. The doors are on the eastern side, facing Durham Hall">

            <h3>Find us in Google Maps</h3>
        </a>

        <blockquote>
            <h3>Physical Address</h3>
            Iowa State University<br>
            1322 "Old" Sweeney Hall<br>
            Ames, IA 50011
        </blockquote>
    </div>

    <div id="outreach">
        <h2>Outreach</h2>
        <ul>
            <li>"Invite us"</li>
            <li>Garage Tours</li>
            <li>Sun Run</li>
            <li>Solar Car Fundraisers</li>
        </ul>
    </div>

</div>
{% endblock %}
