{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}
{% block content %}
<div class="container">
    <h1>Contact Us</h1>

    <p>Contains links to:</p>

    <ol>
        <li>
            Outreach opportunities
            <ul>
                <li>"Invite us"</li>
                <li>Garage Tours</li>
                <li>Sun Run</li>
                <li>Solar Car Fundraisers</li>
            </ul>
        </li>
        <li>
            Location of PrISUm's facilities
        </li>
        <li>
            Email
        </li>
    </ol>
</div>
{% endblock %}
