{% extends "base.html" %}
{% block title %}FAQ{% endblock %}
{% block content %}
<div class="container">
    <h1>Frequently Asked Questions</h1>

    <p>Here are some common questions we receive from people at outreach events. If you have a burning question for us
        that isn't listed here, don't hesitate to send us an email at <a href="mailto:solarcar@prisum.org">solarcar@prisum.org</a>.
    </p>

    <ul>
        <li><a href="#is-it-street-legal">Is it street legal?</a></li>
        <li><a href="#what-happens-when-its-cloudy">What happens when it's cloudy?</a></li>
        <li><a href="#how-much-does-it-weigh">How much does it weigh?</a></li>
        <li><a href="#how-does-the-driver-get-in">How does the driver get in?</a></li>
        <li><a href="#how-fast-can-it-go">How fast can it go?</a></li>
        <li><a href="#where-are-the-wheels">Where are the wheels?</a></li>
        <li><a href="#how-long-does-it-take-to-build">How long does it take to build?</a></li>
        <li><a href="#how-much-does-it-cost">How much does it cost?</a></li>
        <li><a href="#are-solar-cars-the-wave-of-the-future">Are solar cars the wave of the future?</a></li>
        <li><a href="#what-happens-to-old-cars">What happens to old cars?</a></li>
        <li><a href="#why-does-it-look-like-a-spaceship">Why does it look like a "spaceship"?</a></li>
        <li><a href="#is-it-comfortable-for-the-driver">Is it comfortable for the driver?</a></li>
        <li><a href="#what-are-the-competing-teams">What are the competing teams?</a></li>
    </ul>

    <h2 id="is-it-street-legal">Is it street legal?</h2>

    <p>Yes, our solar cars have brake lights, turn signals, a rear view camera, and other essential features found in
        commercial vehicles. We get our cars approved by the Iowa Department of Transportation in the experimental
        class,
        and their frames are stamped with a vehicle identification number. We are not allowed to drive at night because
        the cars don't have headlights, and we are required to have a chase vehicle behind the solar car at all times to
        alert traffic. The chase vehicle carries the license plates and vehicle registration information, which has
        proven useful when we have been pulled over by curious policemen. The cross-country American Solar Challenge
        race takes place on normal highways, and traffic is not blocked off. Thus, the teams must be able to maintain
        the
        minimum speed limit and obey all rules of the road.</p>

    <h2 id="what-happens-when-its-cloudy">What happens when it's cloudy?</h2>

    <p>Solar cars can continue to drive using their battery packs even if there is no sun to be found. Team PrISUm uses
        lithium ion batteries, which have a high power density and can take the car over 100 miles on a full charge with
        no sun. The batteries can be charged using sunlight collected by the solar array in approximately 8 hours or
        just a few hours with a wall outlet. During races, the second method of charging is strictly prohibited.</p>

    <h2 id="how-much-does-it-weigh">How much does it weigh?</h2>

    <p>Without a driver, the car weighs less than 500 pounds, which is very light compared to production vehicles.
        Building
        a lightweight vehicle is one of the major objectives in order to maximize speed and efficiency. Many people
        assume that we pick the lightest driver we can, but actually this doesn't help us because the regulations state
        that all drivers will weigh 176 pounds. If a driver is lighter than this, a ballast weight must be added to the
        car so that everyone is on an even playing field.</p>

    <h2 id="how-does-the-driver-get-in">How does the driver get in?</h2>

    <p>The solar cells on the top of the car are fragile, so we can't let the driver walk on them to get to the cockpit
        in the middle of the car. Instead, the driver must open the canopy above the cockpit and step over the solar
        cells into the frame. This usually requires a chair, stool, or someone's shoulders at the side of the car.</p>

    <h2 id="how-fast-can-it-go">How fast can it go?</h2>

    <p>The top speed of our solar car is about 70 miles per hour. However, we rarely run at this speed because it
        requires substantial battery power. Our cruising speed of 42 miles per hour is what we really care about. This
        is the speed that we can sustain all day long on a sunny day using only the power from our solar array. If we go
        slower than 42 miles per hour, we can charge the car's batteries while driving. Speed is one area where we have
        made great strides from the early days of solar car racing. Team PrISUm's first solar car had a cruising speed
        of less than 20 miles per hour.</p>

    <h2 id="where-are-the-wheels">Where are the wheels?</h2>

    <p>The wheels on most solar cars are surrounded by fairings attached to the body. This is to reduce rolling
        resistance by minimizing the turbulence and drag that is created by the spinning wheels and suspension
        components.</p>

    <h2 id="how-long-does-it-take-to-build">How long does it take to build?</h2>

    <p>The American Solar Challenge takes place every two years, and Team PrISUm builds a new car for every race. There
        are a few components that get reused from car to car, including the motor, motor controller, and some
        electronics
        boards, but generally the cars are completely redesigned to improve on past vehicles. Within our two year
        project cycle, we try to devote one year to design and one year to building.</p>

    <h2 id="how-much-does-it-cost">How much does it cost?</h2>

    <p>The budget for our two-year project cycle is about $250,000, most of which goes into manufacturing the solar
        car. The business team works hard to ensure that we can raise enough money to complete the project. A large
        percentage of our quarter million dollar budget is actually donated in the form of materials, fabrication,
        facilities use, and shared expertise. The rest is made up by cash donations from companies and individuals who
        appreciate what we are trying to do and want to support the project.</p>

    <h2 id="are-solar-cars-the-wave-of-the-future">Are solar cars the wave of the future?</h2>

    <p>Unfortunately, it is unlikely that solar cars will be practical for consumer use any time in the near future.
        While the cost of solar energy continues to decrease, it is still far too expensive for what most people expect
        in a vehicle. For example, our solar array alone costs more than most compact cars. Furthermore, there isn't
        enough area on the roofs of commercially available vehicles to put much of a dent in energy consumption with
        currently available solar panels.</p>

    <p>Electric cars, on the other hand look very promising for the near future. Extended battery range is making them
        increasingly practical, and as more competition and market demand arises, the prices will come down. Even if the
        energy used to charge electric cars comes from non-renewable sources, it's still a step in the right direction,
        because the drive train of an electric car is far more efficient than a gasoline engine.</p>

    <p>The real push should be for electric cars that are charged primarily by renewable energy sources such as wind,
        solar, hydro, and geothermal. It makes more sense to have the solar array separate from the car, because that
        allows for a larger solar array with less expensive cells. Solar car teams pay a pretty penny for solar
        technology that packs as much power into a small area as possible.</p>

    <p>Although solar cars probably aren't the wave of the future, they do serve as a great way for college students to
        gain hands on engineering experience, while pushing to develop the most efficient, lightweight, and aerodynamic
        vehicles possible. Furthermore, they are a great tool for demonstrating the power of solar energy.</p>

    <h2 id="what-happens-to-old-cars">What happens to old cars?</h2>

    <p>Team PrISUm still has most of the old cars in its facilities at Iowa State University. We try to keep recent
        cars around for testing purposes. Some of our older cars have been given to museums. For more information about
        our cars and their current locations, check out the <a href="about">past vehicles page</a>.</p>

    <h2 id="why-does-it-look-like-a-spaceship">Why does it look like a "spaceship"?</h2>

    <p>The shape of the car body is custom designed to be as aerodynamic as possible while still holding the maximum
        amount of solar cells allowed for the race. Team PrISUm doesn't have access to a wind tunnel large enough to
        test a full-scale car, so the aerodynamics are optimized using ANSYS Fluent software. This allows us to get
        reasonably accurate results and easily run many different configurations to decide on the best shape for the
        car.</p>

    <h2 id="is-it-comfortable-for-the-driver">Is it comfortable for the driver?</h2>

    <p>Solar cars often sacrifice driver comfort to be more competitive. For example, they don't waste energy on
        amenities such as air conditioning. As a result, the cockpit can get quite hot during the summer races. The
        driver compartment is made as small as possible to minimize aerodynamic drag so it can be a bit cramped for
        larger drivers. Also the ride is fairly stiff and there isn't an abundance of seat padding, so after four
        straight hours of driving on the race, our drivers are happy to have a break.</p>

    <h2 id="what-are-the-competing-teams">What are the competing teams?</h2>

    <p>Our competition comes from other top universities around the world. Recent races have consisted of about 15
        teams that pass qualifying. In terms of budget, we are in the middle of the pack, and we generally do very well
        against other teams using monocrystalline silicon solar cells, which are approximately 20% efficient. Teams with
        a much higher budget can afford gallium arsenide solar cells that are nearly 30% efficient. As a result, their
        cars are generally faster. You can find a list of many solar car teams around the world at <a
                href="https://en.wikipedia.org/wiki/List_of_solar_car_teams" target="_blank">this Wikipedia page</a>.
    </p>

    <h2><a href="#">Back to Top</a></h2>
</div>
{% endblock %}
