<div class="container">
    <div style="margin-top: 20px;">
        <span class="footer-text pull-left" style="margin-bottom: 0; margin-right: 10px; max-width: 65%;">
            <p class="text-muted" style="margin-bottom: 0; margin-top: 7px">
                Copyright 1989 - 2015, Team PrISUm, Iowa State University.
            </p>
        </span>
        <span class="pull-right">
            <a class="btn btn-social-icon btn-twitter" href="https://twitter.com/Team_PrISUm" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/PrISUm.Solar.Car" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
            <a class="btn btn-social-icon btn-flickr" href="https://www.flickr.com/photos/prisum/show/" target="_blank">
                <i class="fa fa-flickr"></i>
            </a>
            <a class="btn btn-social-icon btn-pinterest" href="https://www.youtube.com/user/TeamPrISUm" target="_blank">
                <i class="fa fa-youtube"></i>
            </a>
        </span>
    </div>
</div>
