{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
  <h1>Home Page</h1>

  <h2>Announcements</h2>

  <p>...</p>

  <h2>Social Media Widgets</h2>

  <h3>Twitter</h3>

  <h3>Calendar</h3>

  <h3>Facebook</h3>

  <h2>Races we compete in</h2>

  <p>This section should have the two(?) races each with the logo, name of the race, and a blurb about it.</p>

  <!--Maybe make these last three some big icons with text underneath them?-->
  <div class="row">
    <div class="col-md-4">
      <button type="button" class="btn btn-primary">Donate Now!</button>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-primary">Invite PrISUm to your event</button>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-primary">Most recent Sundial</button>
    </div>
  </div>
</div>
{% endblock %}
