{% extends "base.html" %}
{% block title %}Sponsors{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/css/sponsors.css" />

<div class="container">
    <div class="Platinum" >

        <h2><span></span>Platinum Sponsors: <small>$10,000 and above</small></h2>
        <hr>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="1500">


  <!-- Wrapper for slides -->
         <div class="carousel-inner" role="listbox">
            <div class="item active">
                 <div class="cd-adapco">
                     <a href="http://www.cd-adapco.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Platinum/cd-adapco.png" alt="CD-Adapco"/></a>
                 </div>
            </div>

            <div class="item">
               <div class="cd-adapco">
                     <a href="http://www.altium.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Platinum/altium.png" alt="Altium"/></a>
                 </div>
            </div>

            <div class="item">
                <div class="cd-adapco">
                     <a href="http://www.autodesk.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Platinum/autodesk.png" alt="Autodesk"/></a>
                 </div>
            </div>

            <div class="item">
                <div class="cd-adapco">
                     <a href="http://www.boeing.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Platinum/boeing.png" alt="Boeing"/></a>
                 </div>
            </div>
             <div class="item">
                <div class="cd-adapco">
                     <a href="http://precisionboard.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Platinum/coastal_enterprises.png" alt="Coastal Enterprises"/></a>
                 </div>
            </div>
             <div class="item">
                <div class="cd-adapco">
                     <a href="http://www.delta.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Platinum/delta_airlines.png" alt="Delta Airlines"/></a>
                 </div>
            </div>
             <div class="item">
                <div class="cd-adapco">
                     <a href="http://www.gsb.iastate.edu/wordpress/" target="_blank" ><img src="../static/img/Sponsors_Logos/Platinum/gsb.jpg" alt="GSB"/></a>
                 </div>
            </div>
             <div class="item">
                <div class="cd-adapco">
                     <a href="http://www.iowaenergycenter.org/" target="_blank" ><img src="../static/img/Sponsors_Logos/Platinum/iowa_energy_center.png" alt="Iowa Energy Center"/></a>
                 </div>
            </div>
             <div class="item">
                <div class="cd-adapco">
                     <a href="http://www.engineering.iastate.edu/" target="_blank" ><img src="../static/img/Sponsors_Logos/Platinum/isu_college_of_engineering.png" alt="ISU College of Engineering"/></a>
                 </div>
            </div>
             <div class="item">
                <div class="cd-adapco">
                     <a href="http://www.quatrocomposites.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Platinum/quatro_composites.png" alt="Quatro Composites"/></a>
                 </div>
            </div>
             <div class="item">
                <div class="cd-adapco">
                     <a href="http://rtiintl.com/About%20RTI/Pages/about-RTI.aspx" target="_blank" ><img src="../static/img/Sponsors_Logos/Platinum/remmele_engineering.png" alt="Remmele Engineering"/></a>
                 </div>
            </div>
         </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
         </a>
         <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
             <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    </div>
    <br><br>
    <div class ="Gold">
        <h2><span></span>Gold Sponsors: <small>$5,000 - $9,999</small></h2>
        <hr>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="1500">


  <!-- Wrapper for slides -->
         <div class="carousel-inner" role="listbox">
            <div class="item active">
                 <div class="cd-adapco">
                     <a href="https://www.alcoa.com/global/en/home.asp" target="_blank" ><img src="../static/img/Sponsors_Logos/Gold/alcoa.png" alt="Alcoa"/></a>
                 </div>
            </div>

            <div class="item">
               <div class="cd-adapco">
                     <a href="http://www.cipco.net/" target="_blank" ><img src="../static/img/Sponsors_Logos/Gold/cipco.png" alt="Cipco"/></a>
                 </div>
            </div>

            <div class="item">
                <div class="cd-adapco">
                     <a href="http://www.sinnedcustoms.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Gold/sinned_customs.jpg" alt="Sinned Customs"/></a>
                 </div>
            </div>

            <div class="item">
                <div class="cd-adapco">
                     <a href="http://www.walmart.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Gold/walmart.png" alt="Walmart"/></a>
                 </div>
            </div>

         </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
         </a>
         <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
             <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    </div>
    <br><br>
    <div class="Cardinal">
        <h2><span></span>Cardinal Sponsors: <small>$2,500 - $4,999</small></h2>
        <hr>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="1500">


  <!-- Wrapper for slides -->
         <div class="carousel-inner" role="listbox">
            <div class="item active">
                 <div class="cd-adapco">
                     <a href="http://www.cityofames.org/index.aspx?page=110" target="_blank" ><img src="../static/img/Sponsors_Logos/Cardinal/cityOfAmes.png" alt="City of Ames"/></a>
                 </div>
            </div>

            <div class="item">
               <div class="cd-adapco">
                     <a href="https://www.alliantenergy.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Cardinal/alliant_energy.png" alt="Alliant Energy"/></a>
                 </div>
            </div>
         </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
         </a>
         <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
             <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    </div>
    <br><br>
    <div class="Benefactor">
        <h2><span></span>Benefactor: <small>$1,000 - $2,499</small></h2>
        <hr>
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="1500">


  <!-- Wrapper for slides -->
         <div class="carousel-inner" role="listbox">
            <div class="item active">
                 <div class="Benefactor">
                     <a href="http://www.3dconnexion.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Benefactor/3dconnexion.png" alt="3dConnexion"/></a>
                 </div>
            </div>

            <div class="item">
               <div class="Benefactor">
                     <a href="http://www.altec.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Benefactor/altec.png" alt="Altec"/></a>
                 </div>
            </div>
             <div class="item">
               <div class="Benefactor">
                     <a href="http://www.curtmfg.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Benefactor/curt_manufacturing.png" alt="Curt Manufacturing"/></a>
                 </div>
            </div>
             <div class="item">
               <div class="Benefactor">
                     <a href="http://www.grimmbrothers.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Benefactor/grimBrothers.png" alt="Grim Brothers"/></a>
                 </div>
            </div>
         </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
         </a>
         <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
             <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    </div>
    <br><br>
</div>
{% endblock %}
