{% extends "base.html" %}
{% block title %}Sponsors{% endblock %}
{% block content %}
<link rel="stylesheet" href="../static/css/sponsors.css" />
<div class="container">
    <div class="Platinum" >
        <h2>Platinum Sponsors: <small>$10,000 and above</small></h2>
        <hr>
        <div class="row">
            <div class="col-lg-4 col-sm-3 col-xs-4">
                <a href="http://www.cd-adapco.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Platinum/cd-adapco.png" alt="CD-Adapco"/></a>
            </div>
            <div class="col-lg-4 col-sm-3 col-xs-4">
               <a href="http://www.altium.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Platinum/altium.png" alt="Altium"/></a>
            </div>
            <div class="col-lg-4 col-sm-3 col-xs-4">
               <a href="http://www.autodesk.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Platinum/autodesk.png" alt="Autodesk"/></a>
            </div>
             <div class="col-lg-4 col-sm-3 col-xs-4">
               <a href="http://www.boeing.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Platinum/boeing.png" alt="Boeing"/></a>
            </div>
            <div class="col-lg-4 col-sm-3 col-xs-4">
                 <a href="http://precisionboard.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Platinum/coastal_enterprises.png" alt="Coastal Enterprises"/></a>
            </div>
            <div class="col-lg-4 col-sm-3 col-xs-4">
                <a href="http://www.delta.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Platinum/delta_airlines.png" alt="Delta Airlines"/></a>
            </div>
            <div class="col-lg-4 col-sm-3 col-xs-4">
                <a href="http://www.gsb.iastate.edu/wordpress/" target="_blank" ><img src="../static/img/Sponsors_Logos/Platinum/gsb.jpg" alt="GSB"/></a>
            </div>
            <div class="col-lg-4 col-sm-3 col-xs-4">
                <a href="http://www.iowaenergycenter.org/" target="_blank" ><img src="../static/img/Sponsors_Logos/Platinum/iowa_energy_center.png" alt="Iowa Energy Center"/></a>
            </div>
            <div class="col-lg-4 col-sm-3 col-xs-4">
                <a href="http://www.engineering.iastate.edu/" target="_blank" ><img src="../static/img/Sponsors_Logos/Platinum/isu_college_of_engineering.png" alt="ISU College of Engineering"/></a>
            </div>
            <div class="col-lg-6 col-sm-3 col-xs-4">
                <a href="http://www.quatrocomposites.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Platinum/quatro_composites.png" alt="Quatro Composites"/></a>
            </div>
            <div class="col-lg-6 col-sm-3 col-xs-4">
                <a href="http://rtiintl.com/About%20RTI/Pages/about-RTI.aspx" target="_blank" ><img src="../static/img/Sponsors_Logos/Platinum/remmele_engineering.png" alt="Remmele Engineering"/></a>
            </div>
        </div>
    </div>
    <br><br><br><br>
    <div class ="Gold">
        <h2><span></span>Gold Sponsors: <small>$5,000 - $9,999</small></h2>
        <hr>
        <div class="row">
            <div class="col-lg-4 col-sm-3 col-xs-4">
                <a href="https://www.alcoa.com/global/en/home.asp" target="_blank" ><img src="../static/img/Sponsors_Logos/Gold/alcoa.png" alt="Alcoa"/></a>
            </div>
            <div class="col-lg-4 col-sm-3 col-xs-4">
                <a href="http://www.cipco.net/" target="_blank" ><img src="../static/img/Sponsors_Logos/Gold/cipco.png" alt="Cipco"/></a>
            </div>
            <div class="col-lg-4 col-sm-3 col-xs-4">
                <a href="http://www.sinnedcustoms.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Gold/sinned_customs.jpg" alt="Sinned Customs"/></a>
            </div>
            <div class="col-lg-6 col-sm-3 col-xs-4">
                <a href="http://www.walmart.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Gold/walmart.png" alt="Walmart"/></a>
            </div>
            <div class="col-lg-6 col-sm-3 col-xs-4">
                <h3>Doug and Linda Truckenmiller</h3>
            </div>
        </div>
    </div>

    <br><br><br><br>
    <div class="Cardinal">
        <h2><span></span>Cardinal Sponsors: <small>$2,500 - $4,999</small></h2>
        <hr>
        <div class="row">
            <div class="col-lg-6 col-sm-3 col-xs-4">
                <a href="http://www.cityofames.org/index.aspx?page=110" target="_blank" ><img src="../static/img/Sponsors_Logos/Cardinal/cityOfAmes.png" alt="City of Ames"/></a>
            </div>
            <div class="col-lg-6 col-sm-3 col-xs-4">
                <a href="https://www.alliantenergy.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Cardinal/alliant_energy.png" alt="Alliant Energy"/></a>
            </div>
            <div class="col-lg-6 col-sm-3 col-xs-4">
                <h3>Evan Stumges</h3>
            </div>
            <div class="col-lg-6 col-sm-3 col-xs-4">
                <h3>Joe and LuAnn Meyers</h3>
            </div>
        </div>
    </div>
    <br><br><br><br>
    <div class="Benefactor">
        <h2><span></span>Benefactor: <small>$1,000 - $2,499</small></h2>
        <hr>
         <div class="row">
            <div class="col-lg-4 col-sm-3 col-xs-4">
                <a href="http://www.3dconnexion.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Benefactor/3dconnexion.png" alt="3dConnexion"/></a>
            </div>
            <div class="col-lg-4 col-sm-3 col-xs-4">
                <a href="http://www.altec.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Benefactor/altec.png" alt="Altec"/></a>
            </div>
            <div class="col-lg-4 col-sm-3 col-xs-4">
                <a href="http://www.curtmfg.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Benefactor/curt_manufacturing.png" alt="Curt Manufacturing" style="background-color: black;"/></a>
            </div>
            <div class="col-lg-6 col-sm-3 col-xs-4">
                <a href="http://www.grimmbrothers.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Benefactor/grimBrothers.png" alt="Grim Brothers"/></a>
            </div>
            <div class="col-lg-6 col-sm-3 col-xs-4">
                <h3>Jane and Donald Brownlee</h3>
            </div>

         </div>
    </div>
    <br><br><br><br>
    <div class="Sustainer">
        <h2><span></span>Sustainer: <small>$500 - $999</small></h2>
        <hr>
         <div class="row">
            <div class="col-lg-4 col-sm-3 col-xs-4">
                <a href="http://www.4pcb.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Sustainer/advanced_circuits.png" alt="Advanced Circuits"/></a>
            </div>
            <div class="col-lg-4 col-sm-3 col-xs-4">
                <a href="http://www.huscointl.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Sustainer/husco_international.png" alt="Husco International"/></a>
            </div>
            <div class="col-lg-4 col-sm-3 col-xs-4">
                <a href="https://www.sra-solder.com/" target="_blank" ><img src="../static/img/Sponsors_Logos/Sustainer/sra_soldering_products.jpg" alt="SRA Soldering Products"/></a>
            </div>
            <div class="col-lg-6 col-sm-3 col-xs-4">
                <h3>Evan and Julie Hupp</h3>
            </div>
            <div class="col-lg-6 col-sm-3 col-xs-4">
                <h3>Dwelle Family Foundation </h3>
            </div>

         </div>
    </div>
    <br><br><br><br>
    <div class="Adopter">
        <h2><span></span>Adopters</h2>
        <hr>
         <div class="row">
            <div class="col-lg-4 col-sm-3 col-xs-4">
                <h3>Eric Weflen</h3>
            </div>
            <div class="col-lg-4 col-sm-3 col-xs-4">
                <h3>Dale Reid</h3>
            </div>
            <div class="col-lg-4 col-sm-3 col-xs-4">
                <h3>Jon Dunn</h3>
            </div>
         </div>
    </div>
    <br>
    <div class="Adopt-a-Battery-Sponsors">
        <h2><span></span>Adopt-a-Battery Sponsors</h2>
        <hr>
         <div class="row">
            <div class="col-lg-3 col-sm-3 col-xs-4">
                <h3>Doug and Sue Maass</h3>
                <h4>1.00</h4>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-4">
                <h3>Larry and Judy Rollstin</h3>
                <h4>1.00</h4>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-4">
                <h3>Olson Aluminum Casting</h3>
                <h4>1.00</h4>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-4">
                <h3>Andrew Micheal Thomas</h3>
                <h4>1.00</h4>
            </div>
         </div>
    </div>
    <br>
    <div class="Adopt-a-Tire-Sponsors">
        <h2><span></span>Adopt-a-Tire Sponsors</h2>
        <hr>
         <div class="row">
            <div class="col-lg-3 col-sm-3 col-xs-4">
                <h3>Dan Bell</h3>
                <h4>1.00</h4>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-4">
                <h3>Pat Noel</h3>
                <h4>2.00</h4>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-4">
                <h3>Bryan Arnold</h3>
                <h4>1.00</h4>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-4">
                <h3>Terry and Rick Gulstad</h3>
                <h4>1.00</h4>
            </div>
            <div class="col-lg-4 col-sm-3 col-xs-4">
                <h3>Gary and Connie Kent</h3>
                <h4>1.00</h4>
            </div>
            <div class="col-lg-4 col-sm-3 col-xs-4">
                <h3>Doug and Murriel Gifford</h3>
                <h4>1.00</h4>
            </div>
            <div class="col-lg-4 col-sm-3 col-xs-4">
                <h3>Keith Felderman</h3>
                <h4>1.00</h4>
            </div>
         </div>
    </div>
    <br>
    <div class="Adopt-a-Cell-Sponsors">
        <h2><span></span>Adopt-a-Cell Sponsors</h2>
        <hr>
         <div class="row">
            <div class="col-lg-3 col-sm-3 col-xs-4">
                <h3>Doug and Sue Maass</h3>
                <h4>1.00</h4>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-4">
                <h3>Larry and Judy Rollstin</h3>
                <h4>1.00</h4>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-4">
                <h3>Olson Aluminum Casting</h3>
                <h4>1.00</h4>
            </div>
            <div class="col-lg-3 col-sm-3 col-xs-4">
                <h3>Andrew Micheal Thomas</h3>
                <h4>1.00</h4>
            </div>
         </div>
    </div>
</div>
<br>
<div class="innershadow">
    <h4><strong>Team PrISUm is a 501(c)(3) non-profit organization.</strong></h4>
        <div class="statement">
            All of our supporters are recognized in our Sundial newsletter and on our website.
            Depending on the level of sponsorship you can get your logo on the team's car, race trailer, letterhead, and t-shirts.
            <br>
            If for some reason you don't receive appropriate recognition, please send us an email.
        </div>
</div>
<br><br>

{% endblock %}
